*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid red;  */
   
}
body{
    background-color:#0f172a;
    font-family: "Sora", sans-serif;
}

.navbar-brand{
    color:#8b5cf6 ;
}
.navbar .nav-link {
    color: white;
    position: relative;
    transition: color 0.3s;
}

.navbar .nav-link::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 3px;
    background: #8b5cf6;
    transform: translateX(-50%);
    transition: width 0.3s ease;
}
.navbar .nav-link:hover::after {
    width: 70%;
}
.navbar .nav-link:hover{
   color: #8b5cf6;;
}

.home {
    min-height: 90vh;
    display: flex;
    align-items: center;
    padding-top: 100px;
}

.profile-circle {
    width: 420px;
    height: 420px;
    border-radius: 50%;
    background: linear-gradient(135deg, #4F46E5, #7C3AED);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 40px rgba(124, 58, 237, 0.5);
}

.profile-img {
    width: 92%;
    height: 92%;
    object-fit: cover;
    border-radius: 50%;
}

.social-icon {
    width: 50px;
    height: 50px;
    border: 1px solid #4F46E5;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: 0.4s;
    font-size: 22px;
}

.social-icon:hover {
    background: #4F46E5;
    color: white;
    transform: translateY(-6px);
}
.btn-info {
    background: #4F46E5;
    border: none;
}
.btn-info:hover {
    background: #6D28D9;
}
#about{
    background:#111827;
    padding-top: 100px;

}

.section-title{
    color:white;
    font-size:45px;
}

.about-img{
    width:350px;
    height:350px;
    border-radius:20px;
    object-fit:cover;
    box-shadow:0 0 30px rgba(79,70,229,.4);
}

.about .btn{
    background:#4F46E5;
    border:none;
}

.about .btn:hover{
    background:#6D28D9;
}
#skills{
    background:#0F172A;
    height: 550px;
    padding-top: 100px;
    
}
.imageclass{
    width: 100px;
    height: 100px;
}
.imageclass img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.skill-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background:#1E293B;
    border-radius:20px;
    color:white;
    transition:.4s;
    cursor:pointer;
    border:1px solid transparent;
}

.skill-card:hover{
    transform:translateY(-10px);
    border-color:#8b5cf6;
    box-shadow:0 0 20px rgba(139,92,246,.5);
}

.skill-card h5{
    margin-bottom:0;
}

.text-purple{
    color:#8b5cf6;
}
/* Carousel */
#projectCarousel{
    padding-bottom: 30px;
}

/* Project Cards */
.card{
    border: none;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0,0,0,0.15);
    transition: 0.3s;
    width: 500px;

}

.card:hover{
    transform: translateY(-8px);
}

.card-image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.card-image{
    width: 500px;
    height: 250px;
}
.card .card-body{
    padding: 20px;
}

.project-card .card-text{
    color: #666;
    line-height: 1.6;
}
.projects{
    padding-top: 100px;
}
.contact{
    background:#0F172A;
    padding-top: 100px;
    padding-bottom:50px
}

.contact-info{
    /* display:flex;
    align-items:center; */
    gap:15px;
    /* border: 1px solid red; */
    width: 300px;
}

.contact-info i{
    width:60px;
    height:60px;
    background:#8b5cf6;
    color:white;
    border-radius:50px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:22px;
   
}

.contact-info p{
    color:#cbd5e1;
    margin:0;
}

.form-control{
    background:#1E293B;
    border:none;
    color:white;
    padding:14px;
}

.form-control::placeholder{
    color:#94a3b8;
}

.form-control:focus{
    background:#1E293B;
    color:white;
    border:1px solid #8b5cf6;
    box-shadow:none;
}

.social-links a{
    width:45px;
    height:45px;
    background:#1E293B;
    color:white;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    text-decoration:none;
    transition:0.3s;
}

.social-links a:hover{
    background:#8b5cf6;
    transform:translateY(-5px);
}

.contact .btn{
    background:#8b5cf6;
    border:none;
}

.contact .btn:hover{
    background:#7c3aed;
}
.onecol{
    width: 530px;
    
}
.card img{
    height: 250px;
    width: 100%;
}
.card{
    transition: 0.3s;
}
.card:hover{
    transform:translateY(-10px);
    box-shadow:0 0 20px rgba(139,92,246,.5);  
    border-color:#8b5cf6;
}
.certificate{
    margin-top: 100px;
    padding-top: 100px;
}
@media (max-width: 1200px) {

    .card{
        width: 450px;

    }
    .card-image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    }
    .card-image{
    width: 500px;
    height: 250px;
    }
}

@media (max-width:320px){
.hint p {
    font-size: 11px; 

}
.projects{
    margin-top: 400px;
}
.social-links i{
    padding: 20px;
}
.contact-info{
    height: 100px;
}
.flex{
    flex-direction: column;
}
}
@media (max-width:576px){

    .flex{
        flex-direction: column;
        
    }

}
@media (max-width:768px){
   .card-image img{
    width: 100%;
    object-fit: fill;
   
   }
   .card-image{
    height: 300px;
   }
  
}
@media (max-width:992px){
    .certificate-body{
        width: 100%;
    }
    .onecol{
        width: 600px;
    }
}
@media (max-width:1200px){
    .certificate-body{
        width: 100%;
        
    }
    .onecol{
        width: 520px;
    }

}